body {  
  background: linear-gradient(#666, #999) no-repeat;
  background-color: #999;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  width: 80%;
  text-align: left; 
  margin: 0px 50px; 
  color: #666;
  border-bottom: 2px solid #999;
}

h2 {
  color: #666;
  font-size: 24px;
  padding: 20px;
}

h3 {
  color: #999;
  font-size: 16px;
  margin: 0px 50px;
}

.container {
  width: 60%;
  min-width: 600px;
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
  padding: 10px;;
  align-items: center; 
  background-color: white;
}

.nav {
  flex-flow: row;
  justify-content: right!important;
  float: right!important;
}

.navbar {
  position: sticky;
  padding: 0px!important;
}

.nav-brand {
  width: 200px;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  font-family: 'Poiret One', cursive;
  color: white;
  padding: 10px;
  background: linear-gradient(rgb(25, 50, 50), rgb(50, 100, 100));
  margin-left: 5%;
  float: left;
}

.nav-item { 
  width: 100px;
  margin: 0 1%;
  text-align: center;
  padding: auto;
  float: right;
  
}

.navlink {
  color: #999;
  font-size: 24px;
  font-weight: 200;
}
.active {
  font-weight: 500;
}

.wrapper {
  width: 100%;
  margin: 40px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
 }

.column {
  flex: 50%;
  flex-direction: column;
  max-width: 40%;
  padding: 10px;
  
}

.btn-primary {
  background-color: #333;
  border-color: grey;
}

.column img {
margin: 8px auto;
width: 100%;
}

.zoom img {
  transition: transform 1.5s; /* Animation */
  
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#caption {
  position: relative;
  right: 0px;
  bottom: 60px;
  width: 100%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  backdrop-filter: blur(5px);
  background:rgba(256, 256, 256, 0.35);
}

#caption:hover {
  color: white;
  background:rgba(0, 0, 0, 0.25);

}

#widebb {
  width:100%!important;
}

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 640px) {
    .nav {
      flex-flow: row;
      flex-direction: row;
      justify-content: center;
      float: none;
    }
    
    .nav-brand {
      display: box;
      width: 100%;
      font-size: 36px;
      color: white;
      padding: auto;
      background-color: rgb(25, 50, 50);
      margin: 0px;
      float: left;
    }
    
    .column {
      flex: 80%;
      max-width: 60%;
    }

    .brand {
      width: 100%;
      padding: 10px;
      color: white;
      margin: 0px;  
    }

    .container {
      width: 90%;
      min-width: 360px;
      position: relative;
      margin-top: 10%;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;;
      align-items: center;
      justify-content: center; 
      background-color: white;
  }
}